<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных пользователя</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body th:style="'background-image: url(/images/road.jpg)'">
<form class="max-w-sm mx-auto" id="registerForm" th:object="${userDTO}" th:method="POST" th:action="@{'/admin/editUser/' + ${userId}}">
    <div class="params-form">
        <h1 class="mb-10 text-xl text-center font-semibold leading-none tracking-tight text-gray-900 md:text-xl lg:text-xl dark:text-white">
            Измените информацию о пользователе
        </h1>
        <div class="mb-6">
            <label for="last-name-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Фамилия
            </label>
            <input th:field="*{lastName}" type="text" id="last-name-input"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <p style="color: red"
               th:if="${#fields.hasErrors('lastName')}"
               th:errors="*{lastName}">
            </p>
        </div>
        <div class="mb-6">
            <label for="first-name-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Имя
            </label>
            <input th:field="*{firstName}" type="text" id="first-name-input"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <p style="color: red"
               th:if="${#fields.hasErrors('firstName')}"
               th:errors="*{firstName}">
            </p>
        </div>
        <div class="mb-6">
            <label for="phone-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Телефон
            </label>
            <input th:field="*{phoneNumber}" type="text" id="phone-input" placeholder="8XXXXXXXXX"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <p style="color: red"
               th:if="${#fields.hasErrors('phoneNumber')}"
               th:errors="*{phoneNumber}">
            </p>
        </div>
        <div class="mb-6">
            <label for="birthdate-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Дата рождения
            </label>
            <input th:field="*{birthDate}" type="text" id="birthdate-input" placeholder="дд.мм.гггг"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <p style="color: red"
               th:if="${#fields.hasErrors('birthDate')}"
               th:errors="*{birthDate}">
            </p>
        </div>
        <div class="mb-6">
            <label for="email-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Email
            </label>
            <input th:field="*{email}" type="email" id="email-input"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <p style="color: red"
               th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">
            </p>
        </div>
        <div class="mb-6">
            <label for="email-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Email
            </label>
            <input th:field="*{password}" type="text" id="password-input"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
            <p style="color: red"
               th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">
            </p>
        </div>
        <button type="submit" class="add-button">
            Изменить
        </button>
    </div>
</form>
</body>
</html>