<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История поездок</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"/>
</head>
<body>
<nav class="bg-white border-gray-200 px-2 py-2.5 rounded" style="position: fixed; top: 0; width: 100%">
    <div class="header-container flex flex-wrap flex-col items-center justify-between mx-auto">
        <a class="flex items-center mb-2">
            <img th:src="@{/images/logo_header.jpg}" class="h-6 mr-3" alt=""/>
            <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">Информационная система "Попутчики"</h1>
        </a>
        <ul class="flex item-center space-x-1 p-1 mt-4 border border-gray-100 rounded-lg bg-gray-50">
            <li>
                <a th:href="@{/createTrip}"
                   class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700">
                    Создать поездку
                </a>
            </li>
            <li>
                <a th:href="@{/createdTrips}"
                   class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700">
                    Созданные поездки
                </a>
            </li>
            <li>
                <a th:href="@{/passengersRequests}"
                   class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700">
                    Заявки пассажиров
                </a>
            </li>
            <li>
                <a th:href="@{/driverTripsHistory}"
                   class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700">
                    История поездок
                </a>
            </li>
            <li>
                <a th:href="@{/logout}"
                   class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700"
                   aria-current="page">Выйти из системы</a>
            </li>
        </ul>
    </div>
</nav>
<div class="overflow-x-auto shadow-md sm:rounded-lg" style="margin-top: 230px">
    <table class="table-fixed w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            История поездок
        </caption>
        <thead class="text-l text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                №
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Начальная точка
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Конечная точка
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Маршрут на карте
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Дата отправления
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Время отправления
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Дата прибытия
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Время прибытия
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Пассажиры
            </th>
            <th style="text-align: center" scope="col" class="px-6 py-3">
                Удалить
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trip: ${trips}" th:with="count = ${counter.get()}"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                th:text="${counter.incrementAndGet()}">
            </th>
            <td class="px-6 py-4" th:text="${trip.startPoint}"></td>
            <td class="px-6 py-4" th:text="${trip.finalPoint}"></td>
            <td class="px-6 py-4">
                <script type="text/javascript">
                    function getMap() {
                        $.ajax({
                            type: "GET",
                            url: "/map",
                            data: {
                                startPointLongitude: /*[[${trip.finalPointCoordinates.longitude}]]*/ null,
                                startPointLatitude: /*[[${trip.finalPointCoordinates.latitude}]]*/ null
                            }
                        })
                    }
                </script>
                <a th:href="@{/showMap(
                startPointLng=${trip.startPointCoordinates.longitude},
                startPointLat=${trip.startPointCoordinates.latitude},
                finalPointLng=${trip.finalPointCoordinates.longitude},
                finalPointLat=${trip.finalPointCoordinates.latitude}
                )}"
                   onclick="getMap()">
                    <span title="Посмотреть на карте" class="material-symbols-outlined">pin_drop</span>
                </a>
            </td>
            <td class="px-6 py-4" th:text="${trip.departureDate}"></td>
            <td class="px-6 py-4" th:text="${trip.departureTime}"></td>
            <td class="px-6 py-4" th:text="${trip.arrivalDate}"></td>
            <td class="px-6 py-4" th:text="${trip.arrivalTime}"></td>
            <td class="px-6 py-4">
                <a th:href="@{/driverTripsHistory/passengers(tripId=${trip.id})}">
                    <span title="Посмотреть" class="material-symbols-outlined">visibility</span>
                </a>
            </td>
            <td class="px-6 py-4" >
                <button data-modal-target="popup-modal" data-modal-toggle="popup-modal"
                        class="text-gray-700 hover:text-gray-900">
                    <span title="Удалить" class="material-symbols-outlined">delete</span>
                </button>
                <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <form th:method="POST" th:action="@{'/deleteTrip/' + ${trip.id}}">
                                <div class="p-4 md:p-5 text-center">
                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                    </svg>
                                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Вы уверены, что хотите удалить данную поездку?</h3>
                                    <button type="submit" data-modal-hide="popup-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                        Удалить
                                    </button>
                                    <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                        Отмена
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>