body {
    background-size: 120%;
    background-repeat: no-repeat;
}

.header-container {
    width: 100%;
    background-color: #dcefd7;
    text-align: center;
    padding-bottom: 25px;
}

.header-container img {
    height: 120px;
    margin-top: 10px;
    border: 5px solid #50e741;
    border-radius: 50%;
}

.params-form {
    background: white;
    position: absolute;
    color: white;
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 24px;
    border: 1px solid #0000000f;
    border-radius: 16px;
    align-items: center;
}

.add-button {
    font-family: inherit;
    position: relative;
    padding: 0;
    cursor: pointer;
    border: 1px solid #0000;
    color: white;
    background-color: #1f8108;
    border-radius: 16px;
    font-size: 17px;
    height: 52px;
    width: 250px;
    margin: auto auto 20px auto;
    left: 50%;
    transform: translate(-50%, 0);
}
